[include]
	path = .local_gitconfig
[user]
	name = Zack Stickles
	email = zstickles@newrelic.com
[alias]
	ci = commit
	co = checkout
	st = status -s
	br = branch
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%cr%C(reset) %C(white)%s%C(reset) %C(magenta)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	d = diff --name-only
[credential]
	helper = cache
[core]
  excludesfile = $HOME/.global_ignore
